<!DOCTYPE html>

{% load static %} 

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fibonacci</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/fibonacci.png" %}">


    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" >

    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" >
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link  rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" >

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/creative.css' %}" >

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Fibonacci Numbers</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Calculator</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Fibonacci Sequence and Numbers</h1>
                <hr>
                <p>The Fibonacci sequence is a set of numbers that starts with a one or a zero, followed by a one, and proceeds based on the rule that each number (called a Fibonacci number) is equal to the sum of the preceding two numbers. It is represented by the  relation:<br><i><b>F<sub>n</sub> = F<sub>n-1</sub>+F<sub>n-2</sub>; F<sub>0</sub> = 0, F<sub>1</sub> = 1</b></i><br>
                The Fibonacci sequence is named after <i><b>Leonardo Pisano</b></i> (also known as Fibonacci ), an Italian mathematician. Fibonacci used the arithmetic series to illustrate a problem based on a pair of breeding rabbits:
                <br>"How many pairs of rabbits will be produced in a year, beginning with a single pair, if in every month each pair bears a new pair which becomes productive from the second month on?" The result can be expressed numerically as:<br><i><b>1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144 ...</b></i></p>

                <a href="#about" class="btn btn-primary btn-xl page-scroll">Fibonacci Algorithms</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Algorithms to Calculate the n<sup>th</sup> Fibonacci Number</h2>
                    <hr class="light">
                    <p class="text-faded">There are several algorithms for calculating the n<sup>th</sup> Fibonacci Number <i>viz.</i>, <i><b>Simple Iteration</b></i>, <i><b>Naive Recursion</b></i>, <i><b>Memoization</b></i>, <i><b>Fast Doubling etc</b></i>. Memoization is a faster option, but it has a time complexity of <i>O(n)</i>. The fastest algorithm to calculate the n<sup>th</sup> fibonacci number is Fast Doubling. This is fast, especially because the algorithm uses multiplication rather than addition, as is the case in the other algorithms. It has a time complexity of <i>O(log n)</i>. We have used this algorithm for our Fibonacci Calculator.<br><br>
                    <b>Fast Doubling</b><br>
                    To find the n<sup>th</sup> Fibonacci number, the fast doubling algorithm uses the following relation:<br>
                    <i><b>F<sub>2n</sub> = F<sub>n</sub>(2F<sub>n+1</sub> - F<sub>n</sub>)<br>
                    F<sub>2n + 1</sub> = F<sub>n</sub><sup>2</sup> + F<sub>n + 1</sub><sup>2</sup></b></i></p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Calculate Fibonacci</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Fibonacci Calculator</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 text-center">
                    <div class="service-box">
                        <form class="form-horizontal" action="/" method="post" id="fibonacci-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="range">Range:</label>
                                <div class="col-sm-10">
                                    <input type="number" min="0" max="100000000" class="form-control" id="range" placeholder="Enter range" name="range">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary btn-xl">Get Fibonacci</button>
                                </div>
                            </div>
                        </form>
                    </div>      
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="service-box message">
                        {% if response %}
                            <!-- do nothing -->
                        {% else %}      
                            <p>The Fibonacci Number will be displayed here...</p>
                        {% endif %}    
                    </div>
                    <div id='loadingmessage' class="text-center" style='display:none;'>
                        <img src="{% static 'images/loading.gif' %}" width="100px"/><br>
                        <span>loading</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Get In Touch!</h2>
                    <hr class="primary">
                    <p>If you have any queries or feedback, give me a call or drop a mail.<br>  Will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>789-901-8282</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=ipsita.das1407@gmail.com">ipsita.das1407@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'js/creative.min.js' %}"></script>
    <script>
        var frm = $('#fibonacci-form');
            frm.submit(function () {
                $('.message').hide();  // hide the default message.
                $('#loadingmessage').show();  // show the loading message.
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function (data) {
                        var d = $.parseJSON(data);
                        content ='<p>The n<sup>th</sup> Fibonacci Number for the given range is: <span style="color:#F05F40">' + d.response + '</span><br> Total time taken: <span style="color:#F05F40">' + d.total_time + '</span> sec </p>'
                        $('#loadingmessage').hide();  // hide the loading message.
                        $('.message').show();  // show the final message.
                        $(".message").html(content);
                    },
                    error: function(data) {
                        $(".message").html("Something went wrong!Please try again");
                    }
                });
                return false;
            });
    </script>

</body>

</html>
